<div class="row aboutPage" id="about">
{{!-- {{jsonPrint this}}  --}}

<div class="aboutText">
{{{this.about.text.html}}}

  </div>

  <div class="aboutResearch">
{{{this.about.research.html}}}

  </div>

  <div class="aboutPeople">
    <h2>People</h2>
    <div class="teachers row">
    <h4>Teachers</h4>
    {{#each this.person}}
      {{#ifeq this.type "teacher"}}

        <div class="col-sm-6 col-md-3 team-member">
          <div class="image-box style-2 mb-20 text-center">
              
            {{!-- <a href="/people/{{person.key}}"> --}}
              <img class="person-image" src="{{{cloudinaryUrl this.image}}}" alt="{{this.name.first}} {{this.name.last}}" class="photo">
              
              <div class="person-info">
                <h3 class="margin-clear theme-primary">{{this.name.first}} {{this.name.last}}</h3>
                <p>{{this.type}}</p>
              </div>
            {{!-- </a> --}}

          </div>
        </div>
      {{/ifeq}}
    {{/each}}
    </div>

    <div class="partners row">
    <h4>Partners</h4>
    {{#each this.person}}

      {{#ifeq this.type "partner"}}

      <div class="col-sm-6 col-md-3 team-member">
          <div class="image-box style-2 mb-20 text-center">
              
            {{!-- <a href="/people/{{person.key}}"> --}}
              <img class="person-image" src="{{{cloudinaryUrl this.image}}}" alt="{{this.name.first}} {{this.name.last}}" class="photo">
              
              <div class="person-info">
                <h3 class="margin-clear theme-primary">{{this.name.first}} {{this.name.last}}</h3>
                <p>{{this.type}}</p>
              </div>
            {{!-- </a> --}}

          </div>
        </div>
      {{/ifeq}}
    {{/each}}

    </div>
  </div>
  

</div>





    {{!-- <div id="mailing-list" class="">

      <div id="mc_embed_signup" class="form">
      <form action="//communityplanit.us6.list-manage.com/subscribe/post?u=8cb16e3042072f11cc0680d36&amp;id=5166b8e185" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <div id="mc_embed_signup_scroll">
        <label for="mce-EMAIL">Join our mailing list!</label>
          <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_8cb16e3042072f11cc0680d36_5166b8e185" tabindex="-1" value=""></div>
          <div class="clear">
            <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
            <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" style="background-color:white" class="default"></div>
          </div>
      </form>
      </div>
    </div> --}} 


<footer id="footer">

  <!-- .footer start -->
  <div class="footer col-md-12">
    <div class="container">
      <div class="footer-inner">
        <div class="row">
          <div class="footer-content text-center padding-ver-clear">

            <div class="logos-footer center-block">
              <a href="http://elab.emerson.edu/"><img id="logo" src="/images/layout/logo_el.png" alt="Engagement Lab" width="60" height="60"></a>
            </div>

            <p class="text-center">An applied research lab at Emerson College for reimagining civic engagement in a digital culture<br />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- .footer end -->

</footer>