<div class="row aboutPage" id="about">
{{!-- {{jsonPrint this}}  --}}

  <div class="aboutText">
    
  
    {{{this.about.text.html}}}

  </div>

  <div class="aboutResearch">
    {{{this.about.research.html}}}

  </div>

  {{!-- <div class="aboutPeople">
    <h2>People</h2>
    <div class="teachers row">
    <h4>Teachers</h4>
    {{#each this.person}}
      {{#ifeq this.type "teacher"}}

        <div class="col-sm-6 col-md-3 team-member">
          <div class="image-box style-2 mb-20 text-center">
              
              <img class="person-image" src="{{{cloudinaryUrl this.image}}}" alt="{{this.name.first}} {{this.name.last}}" class="photo">
              
              <div class="person-info">
                <h3 class="margin-clear theme-primary">{{this.name.first}} {{this.name.last}}</h3>
                <p>{{this.type}}</p>
              </div>

          </div>
        </div>
      {{/ifeq}}
    {{/each}}
    </div>

    <div class="partners row">
    <h4>Partners</h4>
    {{#each this.person}}

      {{#ifeq this.type "partner"}}

      <div class="col-sm-6 col-md-3 team-member">
          <div class="image-box style-2 mb-20 text-center">
              
              <img class="person-image" src="{{{cloudinaryUrl this.image}}}" alt="{{this.name.first}} {{this.name.last}}" class="photo">
              
              <div class="person-info">
                <h3 class="margin-clear theme-primary">{{this.name.first}} {{this.name.last}}</h3>
                <p>{{this.type}}</p>
              </div>

          </div>
        </div>
      {{/ifeq}}
    {{/each}}

    </div>
  </div> --}}
  

</div>