<div class="col-sm-12 aboutPage" id="about">

  <div class="aboutResearch row">

    <div class="col-sm-8 research">
      <div class="row about-title markdown-content">{{{this.about.top_text.html}}}</div>
      <div class="row research-text markdown-content">{{{this.about.research.html}}}</div>
    </div>

    <img class="col-sm-4" src="{{{cloudinaryUrl this.about.image crop=scale width=300}}}" >
  </div>


  <div class="row feat-title markdown-content">{{{this.about.title_text.html}}}</div>

  <div class="aboutFeatures row">

    <div class="feature col-sm-3">
      <img src="{{{cloudinaryUrl this.about.feat_one_img crop=scale height=200}}}" >
      <div class="markdown-content">{{{this.about.feat_one.html}}}</div>
    </div>

    <div class="feature col-sm-3">
      <img src="{{{cloudinaryUrl this.about.feat_two_img crop=scale height=200}}}" >
      <div class="markdown-content">{{{this.about.feat_two.html}}}</div>
    </div>

    <div class="feature col-sm-3">
      <img src="{{{cloudinaryUrl this.about.feat_three_img crop=scale height=200}}}" >
      <div class="markdown-content">{{{this.about.feat_three.html}}}</div>
    </div>

    <div class="feature col-sm-3">
      <img src="{{{cloudinaryUrl this.about.feat_four_img crop=scale height=200}}}" >
      <div class="markdown-content">{{{this.about.feat_four.html}}}</div>
    </div>


  </div>

  <div class="row bottom-title markdown-content">{{{this.about.bottom_text.html}}}</div>

  

</div>