<div class="row gameLanding" id="coming-soon">
    <div class="row" id="coming-soon-banner">
        <div id="intro">{{{content.intro.html}}}</div>
      <div class="row">
        <span id="mailing-list"><a href="{{content.mailing_link}}">join our mailing list!</a></span>
      </div>
    </div>

    <div class="row">
    
      <div class="col-sm-1"></div>

      <div id="hashtag-info" class="col-sm-3 coming-soon-info">

        <img src="https://res.cloudinary.com/engagement-lab-home/image/upload/emerging-citizens/comingsoon/logo_youreit.png">
          {{{content.htyi_blurb.html}}}

      </div>
      
      <div id="geeks-info" class="col-sm-3 coming-soon-info">
        
        <img src="https://res.cloudinary.com/engagement-lab-home/image/upload/emerging-citizens/comingsoon/logo_wiki.png">
          {{{content.wiki_blurb.html}}}

      </div>

      <div id="meme-info" class="col-sm-3 coming-soon-info">

        <img src="https://res.cloudinary.com/engagement-lab-home/image/upload/emerging-citizens/comingsoon/logo_wwdmm.png">
          {{{content.wwdmm_blurb.html}}}
      
      </div>

    </div>

</div>