<div class="page-container category-page {{lowerCase whichGame}}">
    <div class="row">

            <div id="session-create" class="submission col-sm-12 input-box">
                <div class="form">
                    <div id="categories" class="row">
                        {{#each categories}}
                        <div class="col-sm-4">
                            <div class="category-box ">
                                <div class="markdown-content"><h2>{{topicName}}</h2>{{{ellipsis 120 text.html}}}</div>
                                <button value="{{id}}" class="voting-button active submit">Select</button>
                            </div>
                        </div>
                        {{/each}} 
                    </div>

                    <div class="error">Error!</div>
                    <input id="btn_submit" data-type="{{gameType}}" class="button_text" type="submit" name="submit" value="Start!">       
                </div>
            </div>

    </div>
</div>