{{!-- {{> nav}} --}}

<div class="row gameLanding" id="homepage">


    
    {{!-- <div class="row" id="home-page-banner">
      
        <div id="intro">{{{content.intro.html}}}</div>
    </div> --}}

    <div class="row">
    
      <div class="col-sm-1"></div>

      <a href="group/htyi">
        <div id="hashtag-info" class="col-sm-3 home-page-info current">

          <img src="https://res.cloudinary.com/engagement-lab-home/image/upload/f_auto,q_auto/v1466622714/emerging-citizens/images/home/logo_youreit.png">
            {{{content.htyi_blurb.html}}}

        </div>
      </a>
      
      <a href="group/wikigeeks">
        <div id="geeks-info" class="col-sm-3 home-page-info current">
          
          <img src="https://res.cloudinary.com/engagement-lab-home/image/upload/f_auto,q_auto/v1466622714/emerging-citizens/images/home/logo_wiki.png">
            {{{content.wiki_blurb.html}}}

        </div>
      </a>

      <a href="group/wwdmm">
        <div id="meme-info" class="col-sm-3 home-page-info current">

          <img src="https://res.cloudinary.com/engagement-lab-home/image/upload/f_auto,q_auto/v1466622714/emerging-citizens/images/home/logo_wwdmm.png">
            {{{content.wwdmm_blurb.html}}}
        
        </div>
      </a>

    </div>

    <div class="col-sm-4"></div>
    <div id="mailing-list" class="row col-sm-5 col-md-4 col-lg-4">
      {{!-- <span><a href="{{content.mailing_link}}">join our mailing list!</a></span> --}}

      <div id="mc_embed_signup" class="form">
      <form action="//communityplanit.us6.list-manage.com/subscribe/post?u=8cb16e3042072f11cc0680d36&amp;id=5166b8e185" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <div id="mc_embed_signup_scroll">
        <label for="mce-EMAIL">Join our mailing list!</label>
          <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_8cb16e3042072f11cc0680d36_5166b8e185" tabindex="-1" value=""></div>
          <div class="clear">
            <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
            <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" style="background-color:white" class="default"></div>
          </div>
      </form>
      </div>
    </div>
    <div class="col-sm-3"></div>

    <div class="what-is row">

      <div class="col-sm-12 col-md-12 col-lg-12">

        <div class="what-is-text row">
          <h1>What is Emerging Citizens</h1>
          <p>{{{what.text.html}}}</p>
        </div>

        <div class="how-to-play row">
          <h1>How to Play</h1>
          <div class="htp-htyi col-sm-12 col-md-4 col-lg-4">

            <img src="{{{cloudinaryUrl what.htyi_image}}}">

            <p>{{{what.htyi_blurb.html}}}</p>

          </div>
          <div class="htp-wiki col-sm-12 col-md-4 col-lg-4">

            <img src="{{{cloudinaryUrl what.wiki_image}}}">

            <p>{{{what.wiki_blurb.html}}}</p>

          </div>
          <div class="htp-wwdmm col-sm-12 col-md-4 col-lg-4">

            <img src="{{{cloudinaryUrl what.wwdmm_image}}}">

            <p>{{{what.wwdmm_blurb.html}}}</p>

          </div>
        </div>

      </div>

    </div>

</div>

<footer id="footer">

  <!-- .footer start -->
  <div class="footer col-md-12">
    <div class="container">
      <div class="footer-inner">
        <div class="row">
          <div class="footer-content text-center padding-ver-clear">

            <div class="logos-footer center-block">
              <a href="http://elab.emerson.edu/"><img id="logo" src="/images/layout/logo_el.png" alt="Engagement Lab" width="60" height="60"></a>
            </div>

            <p class="text-center">An applied research lab at Emerson College for reimagining civic engagement in a digital culture<br />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- .footer end -->

</footer>