{{!-- {{> nav}} --}}

<div class="gameLanding" id="homepage">
    <div class="row">
      <div class="top-section">
      
        <div class="col-md-6" style="width: 40%;">
          <h2 class="white-font"><span class="orange-font">Bluff</span> with Hashtags.</h2>
          <h2 class="white-font"><span class="bright-red-font">Race</span> through Wikipedia.</h2>
          <h2 class="white-font"><span class="green-font">Create</span> dank Memes.</h2>
          <h2 class="black-font">Become an Emerging Citizen</h2>
          <h3 class="white-font light">Emerging Citizens is a free-to-play suite of digital multiplayer games that teach students how to critique and create civic media through play.</h3>
          <button class="more">Learn More</button>
        </div>
        <div class="col-md-6">  
          <img src="https://res.cloudinary.com/engagement-lab-home/image/upload/f_auto,q_auto/v1466622714/emerging-citizens/images/home/logo_youreit.png">
        </div>

      </div>
    </div>

    


    <div class="row games-row">
    
      <div class="col-sm-4">
      <img src="https://res.cloudinary.com/engagement-lab-home/image/upload/f_auto,q_auto/v1466622714/emerging-citizens/images/home/logo_youreit.png">
        <div id="hashtag-info" class="home-page-info current">

          
            {{{what.htyi_blurb.html}}}
          <div class="info-buttons">
            <a href="new/htyi">play now</a>
            <a href="group/htyi">learn more</a>
          </div>
        </div>
      </div>
      
      <div class="col-sm-4">
      <img src="https://res.cloudinary.com/engagement-lab-home/image/upload/f_auto,q_auto/v1466622714/emerging-citizens/images/home/logo_wiki.png">
        <div id="geeks-info" class="home-page-info current">
          
          
            {{{what.wiki_blurb.html}}}
          <div class="info-buttons">
            <a href="new/wikigeeks">play now</a>
            <a href="group/wikigeeks">learn more</a>
          </div>
        </div>
      </div>


      


      <div class="col-sm-4">  
      <img src="https://res.cloudinary.com/engagement-lab-home/image/upload/f_auto,q_auto/v1466622714/emerging-citizens/images/home/logo_wwdmm.png">    
        <div id="meme-info" class="home-page-info current">

          
            {{{what.wwdmm_blurb.html}}}
          <div class="info-buttons">
            <a href="new/wwdmm">play now</a>
            <a href="group/wwdmm">learn more</a>
          </div>
        
        </div>
      </div>
      

    </div>

    <div class="row what-text">

      {{!-- <p>{{{what.text.html}}}</p> --}}
      <h2 class="teal-font">Emerging Citizens <span class="light">allows students an accessible way to engage in civic media, game-based experience</span></h2>
      <div class="col-sm-4">
      <img src="http://res.cloudinary.com/engagement-lab-home/image/upload/o_30/v1476993613/emerging-citizens/nodownloads_wmxwxo.png">  
        <h3 class="teal-font">No installations, no downloads, no logins, no problem</h3>
        <p>Emerging Citizens is accessed and played thorugh our website, so therre is no need to download applications or conenct devices on the same network. Learn below how to start a game in 3 simple steps! It's that easy!</p>
      </div>
      <div class="col-sm-4">
      <img src="https://res.cloudinary.com/engagement-lab-home/image/upload/o_30/v1476993581/emerging-citizens/computer_qv2lyg.png">  
        <h3 class="teal-font">Three games, three modalities, one easy to use platform</h3>
        <p>Emerging Citizens consists of three games: hashtag You're It, WikiGeeks, and Wait Wait Don't Meme Me! Each game encourages players to engage with cultural, educational , or political topics while focusing on a specific, 21st century, digital modality (Memes, Hashtags, or Hyperlinks).</p>
      </div>
      <div class="col-sm-4">
      <img src="https://res.cloudinary.com/engagement-lab-home/image/upload/o_30/v1476993611/emerging-citizens/lightbulb_ywkyk5.png">  
        <h3 class="teal-font">Lesson guides and subject specific content to keep learning focused</h3>
        <p>Research suppoted lesson guides help facillitators teach students about hashtags, meme,s and wikis within a media literacy context. Each content category is provided a specifc lesson plan to help facilitators integrate Emerging Citizens into subject specific curriculums.</p>
      </div>
    </div>

    {{!-- 

    <div class="row">

      <div class="col-sm-12 col-md-12 col-lg-12">

        <div class="how-to-play">
        <div class="how-works row">
          <h1>How it Works</h1>
          <p></p>
        </div>
          <div class="htp-htyi col-sm-12 col-md-4 col-lg-4">

            <img src="{{{cloudinaryUrl what.htyi_image}}}">

            <p>{{{what.htyi_blurb.html}}}</p>

          </div>
          <div class="htp-wiki col-sm-12 col-md-4 col-lg-4">

            <img src="{{{cloudinaryUrl what.wiki_image}}}">

            <p>{{{what.wiki_blurb.html}}}</p>

          </div>
          <div class="htp-wwdmm col-sm-12 col-md-4 col-lg-4">

            <img src="{{{cloudinaryUrl what.wwdmm_image}}}">

            <p>{{{what.wwdmm_blurb.html}}}</p>

          </div>
        </div>

      </div>

    </div>

    <div class="row what-bubbles">
      <div class="col-sm-3">
        <img src="https://res.cloudinary.com/engagement-lab-home/image/upload/f_auto,q_auto/v1466622714/emerging-citizens/images/home/logo_youreit.png">
        <p>Succulents wolf coloring book, skateboard leggings fashion axe keffiyeh 90's 3 wolf moon PBR&B polaroid. Tumeric irony tilde, whatever cold-pressed viral cliche photo booth edison bulb pug venmo</p>

      </div>
      <div class="col-sm-3">
        <img src="https://res.cloudinary.com/engagement-lab-home/image/upload/f_auto,q_auto/v1466622714/emerging-citizens/images/home/logo_youreit.png">
        <p>Succulents wolf coloring book, skateboard leggings fashion axe keffiyeh 90's 3 wolf moon PBR&B polaroid. Tumeric irony tilde, whatever cold-pressed viral cliche photo booth edison bulb pug venmo</p>

      </div>
      <div class="col-sm-3">
        <img src="https://res.cloudinary.com/engagement-lab-home/image/upload/f_auto,q_auto/v1466622714/emerging-citizens/images/home/logo_youreit.png">
        <p>vSucculents wolf coloring book, skateboard leggings fashion axe keffiyeh 90's 3 wolf moon PBR&B polaroid. Tumeric irony tilde, whatever cold-pressed viral cliche photo booth edison bulb pug venmo</p>

      </div>
      <div class="col-sm-3">
        <img src="https://res.cloudinary.com/engagement-lab-home/image/upload/f_auto,q_auto/v1466622714/emerging-citizens/images/home/logo_youreit.png">
        <p>Succulents wolf coloring book, skateboard leggings fashion axe keffiyeh 90's 3 wolf moon PBR&B polaroid. Tumeric irony tilde, whatever cold-pressed viral cliche photo booth edison bulb pug venmo</p>

      </div>

    </div> --}}

    <div id="mailing-list" class="row">
      {{!-- <span><a href="{{content.mailing_link}}">join our mailing list!</a></span> --}}

      <div id="mc_embed_signup" class="form">
      <form action="//communityplanit.us6.list-manage.com/subscribe/post?u=8cb16e3042072f11cc0680d36&amp;id=5166b8e185" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <div id="mc_embed_signup_scroll">
        <label for="mce-EMAIL">Join our mailing list!</label>
          <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_8cb16e3042072f11cc0680d36_5166b8e185" tabindex="-1" value=""></div>
          <div class="clear">
            <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
            <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" style="background-color:white" class="default"></div>
          </div>
      </form>
      </div>
    </div>

</div>
{{!-- 
<footer id="footer">

  <!-- .footer start -->
  <div class="footer col-md-12">
    <div class="container">
      <div class="footer-inner">
        <div class="row">
          <div class="footer-content text-center padding-ver-clear">

            <div class="logos-footer center-block">
              <a href="http://elab.emerson.edu/"><img id="logo" src="/images/layout/logo_el.png" alt="Engagement Lab" width="60" height="60"></a>
            </div>

            <p class="text-center">An applied research lab at Emerson College for reimagining civic engagement in a digital culture<br />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- .footer end -->

</footer> --}}