<div class="row gameLanding" id="homepage">
    
    <div class="row" id="home-page-banner">
        <div id="intro">{{{content.intro.html}}}</div>
    </div>

    <div class="row">
    
      <div class="col-sm-1"></div>

      <a href="new/">
        <div id="hashtag-info" class="col-sm-3 home-page-info current">

          <img src="https://res.cloudinary.com/engagement-lab-home/image/upload/f_auto,q_auto/v1466622714/emerging-citizens/images/home/logo_youreit.png">
            {{{content.htyi_blurb.html}}}

        </div>
      </a>
      
      <a href="">
        <div id="geeks-info" class="col-sm-3 home-page-info coming-soon">
          
          <img src="https://res.cloudinary.com/engagement-lab-home/image/upload/f_auto,q_auto/v1466622714/emerging-citizens/images/home/logo_wiki.png">
            {{{content.wiki_blurb.html}}}

        </div>
      </a>

      <a href="">
        <div id="meme-info" class="col-sm-3 home-page-info coming-soon">

          <img src="https://res.cloudinary.com/engagement-lab-home/image/upload/f_auto,q_auto/v1466622714/emerging-citizens/images/home/logo_wwdmm.png">
            {{{content.wwdmm_blurb.html}}}
        
        </div>
      </a>

    </div>

    <div class="col-sm-3"></div>
    <div id="mailing-list" class="row col-sm-6">
      <span><a href="{{content.mailing_link}}">join our mailing list!</a></span>
    </div>
    <div class="col-sm-3"></div>

</div>

<footer id="footer">

  <!-- .footer start -->
  <div class="footer col-md-12">
    <div class="container">
      <div class="footer-inner">
        <div class="row">
          <div class="footer-content text-center padding-ver-clear">

            <div class="logos-footer center-block">
              <a href="http://elab.emerson.edu/"><img id="logo" src="/images/layout/logo_el.png" alt="Engagement Lab" width="60" height="60"></a>
            </div>

            <p class="lead text-center">An applied research lab at Emerson College for reimagining civic engagement in a digital culture<br />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- .footer end -->

</footer>