
<div class="gameLanding" id="homepage">
    <div class="row top">
      <div class="top-section">
      
        <div class="col-lg-6 col-md-6 col-sm-12">
          <h2 class="left-text black-font"><span class="orange-font">Bluff</span> with Hashtags.</h2>
          <h2 class="left-text black-font"><span class="bright-red-font">Race</span> through Wikipedia.</h2>
          <h2 class="left-text black-font"><span class="green-font">Create</span> dank Memes.</h2>
          <h2 class="left-text gray-font">Become an Emerging Citizen</h2>
          <h3 class="left-text white-font light">Emerging Citizens is a free-to-play suite of digital multiplayer games that teach students how to critique and create civic media through play.</h3>
          <button class="more desktop-only">Learn More</button>
         
        </div>
        
        <div class="col-lg-6 desktop-only">  
          <img alt="Devices" src="https://res.cloudinary.com/engagement-lab-home/image/upload/c_scale,f_auto,w_800/v1477080288/emerging-citizens/images/layout/landing_devices.png">
        </div>
        
        <div class="col-sm-12 mobile-only">  
          <img alt="Devices" src="https://res.cloudinary.com/engagement-lab-home/image/upload/c_scale,f_auto,w_350/v1477080288/emerging-citizens/images/layout/landing_devices.png">
        </div>

        <div class="col-lg-12 col-sm-12 mobile-only">
          <button class="more">Learn More</button>
        </div>
      </div>
    </div>

    


    <div class="row games-row">
    
      <div class="col-sm-4">
      <img src="{{{cloudinaryImg what.htyi_image crop=scale height=200}}}">

        <div id="hashtag-info" class="home-page-info current">

          
          <div class="text">{{{ellipsis 200 what.htyi_blurb.html}}}</div>
          <div class="info-buttons">
            <a href="new/htyi">play now</a>
            <a href="about/htyi">learn more</a>
          </div>
        </div>
      </div>
      
      <div class="col-sm-4">
      <img src="{{{cloudinaryImg what.wiki_image crop=scale height=200}}}">
        <div id="geeks-info" class="home-page-info current">
          
          
          <div class="text">{{{ellipsis 200 what.wiki_blurb.html}}}</div>
          <div class="info-buttons">
            <a href="new/wikigeeks">play now</a>
            <a href="about/wikigeeks">learn more</a>
          </div>
        </div>
      </div>

      <div class="col-sm-4">  
      <img src="{{{cloudinaryImg what.wwdmm_image crop=scale height=200}}}">   
        <div id="meme-info" class="home-page-info current">

          
          <div class="text">{{{ellipsis 200 what.wwdmm_blurb.html}}}</div>
          <div class="info-buttons">
            <a href="new/wwdmm">play now</a>
            <a href="about/wwdmm">learn more</a>
          </div>
        
        </div>
      </div>
      
    </div>

    <div class="row what-text">

      {{!-- <p>{{{what.text.html}}}</p> --}}
      <h1 class="teal-font markdown-content">{{{content.what_text.html}}}</h1>
      <div class="col-sm-4">
        <img src="{{{cloudinaryImg content.no_downloads_img crop=scale height=200}}}">  
        <div class="markdown-content">{{{content.no_downloads.html}}}</div>

      </div>
      <div class="col-sm-4">
        <img src="{{{cloudinaryImg content.three_games_img crop=scale height=200}}}">  
        <div class="markdown-content">{{{content.three_games.html}}}</div>

      </div>
      <div class="col-sm-4">
        <img src="{{{cloudinaryImg content.lesson_guides_img crop=scale height=200}}}">  
        <div class="markdown-content">{{{content.lesson_guides.html}}}</div>

      </div>
    </div>

    <div class="row">

      <div class="how-works col-sm-12 col-md-12 col-lg-12">

          <div class="row how-works-top">
            <h2 class="teal-font">How the <span class="dark-gray-font light">Emerging</span><span class="dark-gray-font bold">Citizens</span> Platform Works</h2>
            <div class="light markdown-content">{{{content.rationale.html}}}</div>

            <div class="row step-one">
              <div class="markdown-content">{{{content.step_one.html}}}</div>
              <img src="{{{cloudinaryImg content.step_one_img crop=scale height=700}}}">

            </div>
          </div>
          <div class="row step-two-three">
            <div class="col-sm-6 step-two">
              <img src="{{{cloudinaryImg content.step_two_img crop=scale height=300}}}">
              <div class="markdown-content">{{{content.step_two.html}}}</div>

            </div>
            <div class="col-sm-6 step-three">
              <img src="{{{cloudinaryImg content.step_three_img crop=scale height=300}}}">
              <div class="markdown-content">{{{content.step_three.html}}}</div>

            </div>
          </div>

          <div class="row step-four">
              
              <img src="{{{cloudinaryImg content.step_four_img crop=scale height=300}}}">
              <div class="markdown-content">{{{content.step_four.html}}}</div>
          </div>

          <div class="row step-five">
              
              <img src="{{{cloudinaryImg content.step_five_img crop=scale height=300}}}">
              <div class="markdown-content">{{{content.step_five.html}}}</div>
          </div>
          <div class="row final-step">
              
              <img src="{{{cloudinaryImg content.final_info_img crop=scale height=300}}}">
              <div class="markdown-content">{{{content.final_info.html}}}</div>
          </div>
        
      </div>

    </div>

    {{!-- <div class="row what-bubbles">
      <div class="col-sm-3">
        <img src="https://res.cloudinary.com/engagement-lab-home/image/upload/f_auto,q_auto/v1466622714/emerging-citizens/images/home/logo_youreit.png">
        <p>Succulents wolf coloring book, skateboard leggings fashion axe keffiyeh 90's 3 wolf moon PBR&B polaroid. Tumeric irony tilde, whatever cold-pressed viral cliche photo booth edison bulb pug venmo</p>

      </div>
      <div class="col-sm-3">
        <img src="https://res.cloudinary.com/engagement-lab-home/image/upload/f_auto,q_auto/v1466622714/emerging-citizens/images/home/logo_youreit.png">
        <p>Succulents wolf coloring book, skateboard leggings fashion axe keffiyeh 90's 3 wolf moon PBR&B polaroid. Tumeric irony tilde, whatever cold-pressed viral cliche photo booth edison bulb pug venmo</p>

      </div>
      <div class="col-sm-3">
        <img src="https://res.cloudinary.com/engagement-lab-home/image/upload/f_auto,q_auto/v1466622714/emerging-citizens/images/home/logo_youreit.png">
        <p>vSucculents wolf coloring book, skateboard leggings fashion axe keffiyeh 90's 3 wolf moon PBR&B polaroid. Tumeric irony tilde, whatever cold-pressed viral cliche photo booth edison bulb pug venmo</p>

      </div>
      <div class="col-sm-3">
        <img src="https://res.cloudinary.com/engagement-lab-home/image/upload/f_auto,q_auto/v1466622714/emerging-citizens/images/home/logo_youreit.png">
        <p>Succulents wolf coloring book, skateboard leggings fashion axe keffiyeh 90's 3 wolf moon PBR&B polaroid. Tumeric irony tilde, whatever cold-pressed viral cliche photo booth edison bulb pug venmo</p>

      </div>

    </div> 

    {{!-- <div id="mailing-list" class="row">
      <span><a href="{{content.mailing_link}}">join our mailing list!</a></span>

      <div id="mc_embed_signup" class="form">
      <form action="//communityplanit.us6.list-manage.com/subscribe/post?u=8cb16e3042072f11cc0680d36&amp;id=5166b8e185" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <div id="mc_embed_signup_scroll">
        <label for="mce-EMAIL">Join our mailing list!</label>
          <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_8cb16e3042072f11cc0680d36_5166b8e185" tabindex="-1" value=""></div>
          <div class="clear">
            <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
            <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" style="background-color:white" class="default"></div>
          </div>
      </form>
      </div>
    </div> --}}

</div>
{{!-- 
<footer id="footer">

  <!-- .footer start -->
  <div class="footer col-md-12">
    <div class="container">
      <div class="footer-inner">
        <div class="row">
          <div class="footer-content text-center padding-ver-clear">

            <div class="logos-footer center-block">
              <a href="http://elab.emerson.edu/"><img id="logo" src="/images/layout/logo_el.png" alt="Engagement Lab" width="60" height="60"></a>
            </div>

            <p class="text-center">An applied research lab at Emerson College for reimagining civic engagement in a digital culture<br />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- .footer end -->

</footer> --}}