<div class="page-container">
    <div class="row">
        
        {{!-- STATE TEXT --}}
        <div id="top-header" class="top-bar hidden-el">
            <h1>
                waiting for players to join...
            </h1>
        </div>

        <div class="col-lg-4 col-sm-4 players-left hidden-el"> 
        {{> group/meme/players_grid players=players.left offset=0 left=true }}
        </div>

        {{!-- Room Code Container --}}
        <section class="col-lg-4 col-sm-4">
            <div id="game_code" class="row room-container hidden-el">
                <div class="col-lg-12 col-sm-12">
                    
                    {{!-- ROOM CODE --}}
                    <h1>Room Code</h1>
                    <h1 class="game-header">
                        <span id="first">{{accessCodeSplit.[0]}}</span>
                        <span id="second">{{accessCodeSplit.[1]}}</span>
                        <span id="third">{{accessCodeSplit.[2]}}</span>
                        <span id="fourth">{{accessCodeSplit.[3]}}</span>
                    </h1>

                    <div class="form" id="startGameForm">

                        <input id="btn-start-game" data-event="game:tutorial" class="post-button submit" type="submit" name="submit" value="start">
                    
                    </div>

                    {{{cloudinaryImg "emerging-citizens/images/layout/wwdmm/squiggle.png" width=350}}}
                    
                    {{!-- BLURB --}}
                    <div id="blurb" class="row">
                        <div class="col-lg-12 col-sm-12">
                            <h3>
                            visit <em>
                            {{#ifeq environment "production"}}
                            ecplay.org
                            {{else}}
                            qa.ecplay.org
                            {{/ifeq}}
                            </em>on your smartphone or tablet to join the game.</h3>
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <div class="col-lg-4 col-sm-4 players-right hidden-el"> 
        {{> group/meme/players_grid players=players.right offset=4 left=false }}
        </div>
        
    </div>
</div>