{{!-- Players grid --}}
<div class="row players-grid">
    {{!-- {{{jsonPrint players}}} --}}
    {{#each players}}
    
        {{#if ../active}}

            <div class="col-sm-6 player-background">
                <div class="player-static">
                    <div class="icon active">
                        {{#if ../../left}}
                        <img src="https://res.cloudinary.com/engagement-lab-home/image/upload/c_scale,f_auto,w_87/v1/emerging-citizens/images/layout/wwdmm/player{{sum @index 4}}.png" />
                    </div>
                    <div class="nameplate active player-{{sum @index 4}}">

                        {{username}}

                    </div>
                        {{else}}

                        <img src="https://res.cloudinary.com/engagement-lab-home/image/upload/c_scale,f_auto,w_87/v1/emerging-citizens/images/layout/wwdmm/player{{@index}}.png" />
                    </div>
                    <div class="nameplate active player-{{@index}}">

                        {{username}}

                    </div>
                        {{/if}}
                    
                </div>
            </div>
        
        {{else}}

            <div class="col-sm-6 player-background">
                <div class="player-static">
                    <div class="icon">
                        {{#if ../../left}}
                            <img src="https://res.cloudinary.com/engagement-lab-home/image/upload/c_scale,f_auto,w_87/v1/emerging-citizens/images/layout/wwdmm/player{{sum @index 4}}.png" />
                        </div>
                    <div class="nameplate player-{{sum @index 4}}"> 
                    Player Name
                    </div>
                        {{else}}
                            <img src="https://res.cloudinary.com/engagement-lab-home/image/upload/c_scale,f_auto,w_87/v1/emerging-citizens/images/layout/wwdmm/player{{@index}}.png" />
                        
                        </div>
                    <div class="nameplate player-{{@index}}"> 
                    Player Name
                    </div>
                        {{/if}}
                    
                </div>
            </div>

        {{/if}}

    {{/each}}

</div>