<div class="page-container">
    <div class="row">

        <div id="top-header" class="top-bar">
            <h1>
                <span id="round">round results</span>
                <span id="leaderboard" style="display:none">leaderboard</span>
                <span id="next" style="display:none">get ready for the next round</span>
            </h1>
        </div>

        <section class="col-sm-12 room-container" id="results-container">
            
            <div class="row">

                <section class="row" id="submissions">
               
                    {{#each submissions}}
        
                        <div class="submission row hidden-el">

                            <div class="name submitter player-{{player.index}} hidden-el">
                                {{player.username}} 
                                
                                {{#if score}}
                                    <span class="score">+{{score}}</span>
                                {{/if}}
                            </div>

                            <div class="col-sm-6">

                                <div class="meme hidden-el" style="background-image: url({{cloudinaryUrl image width=400 quality=100}})">

                                    <div class="text-upper meme-text">{{upper}}</div>
                                    <div class="text-lower meme-text">{{lower}}</div>

                                </div>
                            </div>
                            
                            <div class="col-sm-6">

                                {{!-- VOTES --}}
                                <div class="votes-box row hidden-el">

                                    <h1>Votes</h1>
                                    <div class="row">
                                        <img src="https://res.cloudinary.com/engagement-lab-home/image/upload/c_scale,co_rgb:ffea00,e_colorize:100,w_273/v1471383385/emerging-citizens/images/layout/wwdmm/squiggle-turquoise.png">
                                    </div>

                                    <div class="votes">
                                        <ul>
                                            {{#if votes}}
                                                {{#each votes}}

                                                    <li class="vote hidden-el" style="float:left">
                                                        <div class="name player-{{@index}}">
                                                            {{username}}
                                                            <div class="icon">!</div>
                                                        </div>
                                                        <div class="score hidden-el">+{{score}}</div>
                                                    </li>

                                                {{/each}}

                                            {{else}}
                                                <li class="vote hidden-el">None!</li>
                                            {{/if}}
                                        </ul>
                                    </div>
                             
                                </div>

                                {{!-- LIKES --}}
                                <div class="likes-box row hidden-el">

                                    <h1>Likes {{{cloudinaryImg "emerging-citizens/images/layout/wwdmm/like-button.png" width=45}}}</h1>
                                    <div class="row">
                                        <img src="https://res.cloudinary.com/engagement-lab-home/image/upload/c_scale,co_rgb:ff838c,e_colorize:100,w_273/v1471383385/emerging-citizens/images/layout/wwdmm/squiggle-turquoise.png">
                                    </div>
                                    <div class="likes">
                                        <ul>
                                        {{#if likes}}
                                            
                                            {{#each likes}}

                                                <li class="vote hidden-el" style="float:left">
                                                    <div class="name player-{{index}}">
                                                        {{this}}
                                                        <div class="icon">!</div>
                                                    </div>
                                                    <div class="score hidden-el">{{{cloudinaryImg "emerging-citizens/images/layout/wwdmm/like-button.png" width=45}}}</div>
                                                </li>

                                            {{/each}}

                                        {{else}}
                                            <li>None!</li>
                                        {{/if}}
                                        </ul>
                                    </div>
                                </div>

                            </div>
                        
                        </div>
                    
                    {{/each}}

                </section>

                <section id="scores" class="row hidden-el">

                    <img src="https://res.cloudinary.com/engagement-lab-home/image/upload/c_scale,co_rgb:ff9283,e_colorize:100,w_500/v1471383385/emerging-citizens/images/layout/wwdmm/squiggle-turquoise.png">

                    {{#each players}}

                        <div class="col-sm-12 name player-{{index}}">
                            <div class="col-sm-2">
                                <div class="icon">!</div>
                                {{username}}
                            </div>
                            
                            <div class="col-sm-8">
                                <hr class="player-rule" />
                            </div>
                            
                            <div class="col-sm-2 points">
                                <span class="large bold">{{#if total}} {{total}} {{else}} 0 {{/if}}</span> 
                                points
                            </div>
                        </div>
                    
                    {{/each}}
                    
                </section>

                <section id="leaderboard" class="row hidden-el"> 

                    <img src="https://res.cloudinary.com/engagement-lab-home/image/upload/c_scale,co_rgb:ff9283,e_colorize:100,w_500/v1471383385/emerging-citizens/images/layout/wwdmm/squiggle-turquoise.png">

                    {{#each players}}

                        <div class="col-sm-12 name player-{{index}}">
                            <div class="col-sm-2">
                                <div class="icon">!</div>
                                {{username}}
                            </div>
                            
                            <div class="col-sm-8">
                                <hr class="player-rule" />
                            </div>
                            
                            <div class="col-sm-2 points">
                                <span class="large bold">{{#if score_total}} {{score_total}} {{else}} 0 {{/if}}</span> 
                                points
                            </div>
                        </div>
                    
                    {{/each}}         
                    
                </section>


                {{!-- Show FINAL game screen at last round after showing scores/leaderboard --}}
                {{#if last_round}}
{{!--                     <div id="game-ended" class="row hidden-el results last">
                        <div class="col-sm-3"></div>
                        <section class="col-sm-6 ended-container">
                                                
                                <div style="margin-top:10%" class="row">
                                    <h1 style="font-size: 3em;color: #ffa76d" class="game-header">Game Ended{{!-- <br>Thank you for playing Hashtag You're It! --}}
                                        </h1>
{{!--                                     <h1 style="font-size: 2.4em;color: #85e4cc" class="game-header">Please fill out the survey on your device.
                                        </h1> --}}

                                    </div>
                                </div>
                                
                        </section>
                        <div class="col-sm-3"></div>
                    </div>
                {{else}} --}}
                    <div id="next-round" class="col-sm-12 hidden-el results last">
                        
                        <div class="col-sm-4"></div>
                        <div class="col-sm-4">
                            <div id="countdown"></div>
                        </div>
                        <div class="col-sm-4"></div>

                    </div>
                {{/if}}

            </div>

        </section>

    </div>
</div>