<div class="page-container">
    <div class="row">

        <section class="col-sm-12 room-container" id="results-container">
            
            <div class="row">
                <h1 id="results-header" class="game-header">
                    round results
                </h1>
                <h1 id="leaderboard-header" class="game-header hidden-el">
                    leaderboard
                </h1>

                <section class="row hidden-el" id="submissions">
               
                    {{#each submissions}}
        
                        <div class="row">

                            <div class="col-sm-4">
                                <h2>voted it</h2>

                                {{#if votes}}
                                    
                                    {{#each votes}}

                                        <p>{{username}} (+{{score}})</p>

                                    {{/each}}

                                {{/if}}
                         
                            </div>
                            
                            <div class="col-sm-4">
                                <div class="meme">

                                    <div class="text-upper">{{upper}}</div>
                                    <div class="text-lower">{{lower}}</div>

                                    <img src="{{{cloudinaryUrl image width=300 quality=80}}}" />
                                    <div class="hidden-el">{{username}}</div>

                                </div>
                            </div>

                            <div class="col-sm-4">
                                <h2>liked it</h2>

                                {{#if likes}}
                                    
                                    {{#each likes}}

                                        <p>{{this}}</p>

                                    {{/each}}

                                {{/if}}
                            </div>
                        
                        </div>
                    
                    {{/each}}

                </section>

                <section class="row hidden-el" id="scores">
                    
                    <div class="col-sm-3"></div>

                    {{#each players}}
                        <div class="col-sm-3">{{username}}</div>
                        <div class="col-sm-3">{{#if total}} {{total}} {{else}} 0 {{/if}}</div>
                    {{/each}}
                    
                    <div class="col-sm-3"></div>
                    
                </section>

                <section class="row hidden-el" id="leaderboard">    
                    
                    <div class="col-sm-3"></div>

                    {{#each players}}
                        <div class="col-sm-3">{{username}}</div>
                        <div class="col-sm-3">{{#if score_total}} {{score_total}} {{else}} 0 {{/if}}</div>
                    {{/each}}
                    
                    <div class="col-sm-3"></div>          
                    

                </section>

                <div id="countdown" class="row hidden-el">
                    <h2>
                        {{#if last_round}}
                            Returning to Main Menu
                        {{else}}
                            Round {{incIndex round}} will begin
                        {{/if}}
                         in <span id="text">10</span> seconds
                    </h2>
                </div>


            </div>

        </section>

    </div>
</div>