<div class="page-container">
    <div class="row">
        <div id="top-header" class="top-bar">
            <h1>
                
                which meme about 
                <span id="topic">
                    <span class="text">{{topic.topicName}}</span>
                </span>
                is 
                <span id="descriptor">
                    <span class="text">{{descriptor}}</span>
                </span>
                
            </h1>
        </div>
        
        {{!-- Room Code Container --}}
        <section class="col-sm-12" id="voting-container">
            
            <div class="row">

                {{#each submissions}}

                    <div class="col-sm-3">
                        <div class="meme" style="background-image: url({{cloudinaryUrl image width=300 quality=80}})">

                            <div class="text-upper meme-text">{{upper}}</div>
                            <div id="text-lower-wrapper">
                                <div class="meme-text text-lower">{{lower}}</div>
                            </div>
                            {{!-- <div>{{username}}</div> --}}

                        </div>
                    </div>
                
                {{/each}}

            </div>
           {{!--  <div class="row countdown">

                <div id="countdown"></div>

                <h2>remaining</h2>
            </div> --}}

        </section>
        
    </div> {{!-- end page row --}}
</div>