<div class="page-container">
	<div class="row">

	  {{!-- Topic Info Container --}}
		<section class="col-sm-12 room-container" id="article-container">
 
 			{{!-- Round over modal --}}
	    <div id="round-over" class="modal row">

	      <div id="content" class="col-sm-12 hidden-el">
			    
			    <div class="row">
						{{{cloudinaryImg "emerging-citizens/images/layout/wiki/reveal_glasses.png" crop=scale width=350}}}
		      </div>
			    
			    <div class="row">
	       			<h1>Round {{round}} is over!</h1>
	       			<h2>Let's see the results!</h2>
					</div>
	  			    
	      </div>

      </div>

			<div class="row find">
			    <div class="col-sm-12">
			        
			        <h4>Find the article!</h4>
			        <h2 class="article-name light">"{{articleName}}"</h2>
			        
			    </div>
			</div>

	    <div class="row article-info">
	    	<div class="col-sm-4">
		    	<div class="article-image">
			    	<img src="{{{cloudinaryUrl articleImage width=auto height=auto crop='scale' quality=100}}}">
		    	</div>
		    </div>
	        <div class="col-sm-8 article-description">
	            
	        	<p>{{{ellipsis 200 articleDescription}}}</p>
	        </div>
	    </div>

	    <div class="row players-countdown">
	    	<div class="col-sm-8"> 
		    	{{> group/players_grid players=this.players}}
		    </div>

		    <div class="col-sm-4 countdown hidden-el">
		      <section id="countdown">
		      	<span id="text"></span>
		      	{{!-- <svg width="100%" height="100%"><rect width="100%" height="100%" style='fill: none; fill-opacity: 0.5; stroke: #009fe3; stroke-width: 5; stroke-linecap: round; stroke-dasharray: 1 7'/></svg> --}}
		      </section>
		      <section id="out-of-time">
		      	<span><b>Out of time</b><br />First player to reach article wins!</span>
		      	
		      </section>
		    </div>
	    </div>

		</section>
  
  </div>    
</div>