<div class="page-container">
  <div class="row">

    {{!-- Results Screen Container --}}
    <section class="col-sm-12 room-container" id="results-container">

    {{!-- TOP PLAYERS --}}
    	<div id="top-players">

				<div class="col-xs-12 col-sm-12">

					{{#each results}}

	          {{#iflt @index 3}}

	          	<section class="player-path hidden-el">
			
									<div class="row">
						
										<div class="col-xs-6 col-sm-6">
											<div class="content">

												<h2>{{username}}</h2>
												Place!
												<span>{{clicks}} clicks</span>

												<span>{{time}}</span>

											</div>
										</div>

										<div class="col-xs-6 col-sm-6">
											<div class="content">

												<h2>Target article:</h2>
												<h3>{{../title}}</h3>

											</div>
										</div>

									</div>

									<div id="articles" class="row">

										<div id="article-titles" style="position:absolute;z-index: 2;width: 100%;margin-top: 2%;">
											{{#each articles}}

												<div class="title" style="position:absolute; 
																									left: {{sum (wikiResultPosition @index true false) -85}}px;
																									top: {{wikiResultPosition @index false false}}px;
																									width: 170px">{{this}}</div>
											  {{!-- <div class="title" style="position:absolute;left:60px">Title 2</div>
												<div class="title" style="position:absolute;left:160px">Title 2</div> --}}

											{{/each}}

										</div>
									
										<svg height="990" width="1100" style="position:absolute; left:0px;">
										
											{{#each articles}}
													{{@index}}

													{{#if @first}}
														<line class="articleLine" x1="105" y1="10" x2="190" y2="10" style="stroke:rgb(188,255,252);stroke-width:8"></line>
													{{else}}
														<line class="articleLine" 
														{{!-- 1140 --}}
																	x1="{{sum (wikiResultPosition @index true false) 105}}" 
																	y1="{{wikiResultPosition @index false false}}" 
																	
																	x2="{{sum (wikiResultPosition @index true true) 105}}" 
																	y2="{{wikiResultPosition @index false true}}" 
																	
																	style="stroke:rgb(188,255,252);stroke-width:8" />
													{{/if}}

													{{!-- First article --}}
													{{!-- {{#if @first}}
													
														<h3 id="firstArticle" class="articleText">{{this}}</h3>
													
													{{else}}
														
														{{this}}

													{{/if}} --}}

											{{/each}}
										
											{{#each articles}}

													{{@index}}

													<circle class="articleDot"
																	cx="{{wikiResultPosition @index true false}}" 
																	cy="{{wikiResultPosition @index false false}}" 
																	r="8" 
																	stroke="black" 
																	stroke-width="0" 
																	fill="red" />

											{{/each}}
										
										</svg>
										
									</div>

								</section>

	          {{/iflt}}

					{{/each}}
					
				</div>

    	</div>

	    <div id="results-header" class="row hidden-el">
	    	<h1>Round {{round}} Results</h1>

	    	<h2 id="article-title">"{{title}}"</h2>
	    </div>

    	{{!-- RESULTS SCREEN --}}
			<div id="results" class="row hidden-el">

						<div class="header row bold">
          
					    <div class="col-sm-4">
						    <h2>Player</h2>
					    </div>    
					    <div class="col-sm-2">
						    <h2>Score</h2>
			        </div>
					    <div class="col-sm-2">
						    <h2>Time</h2>
					    </div>
					    <div class="col-sm-2">
						    <h2>Click</h2>
					    </div>

					  </div>

					{{#each results}}

						<div class="user row row-color-{{@index}}">
          
					    <div class="col-sm-2 ranking">

					    </div>
					    <div class="col-sm-2">

			          {{#iflt @index 3}}
			          	{{incIndex @index}}.
			          {{/iflt}}

					    	{{username}}

					    </div>
					    <div class="col-sm-2">    

                {{score_sum}}
			                
											<div class="row">
												
												{{!-- {{#each articles}}
													{{this}} <br />
												{{/each}} --}}

					            </div>

			        </div>
					    <div class="col-sm-2">

					    	{{getMinutes time}}

					    </div>
					    <div class="col-sm-2">

						    {{clicks}}

					    </div>

					  </div>

          {{/each}}

			</div>

			{{!-- SCORING BREAKDOWN --}}
			<div id="scoring" class="row hidden-el">

				<div class="header row bold">
	    
			    <div class="col-sm-4">
				    <h2>Player</h2>
			    </div>    
			    <div class="col-sm-2">
				    <h2>Target reached bonus</h2>
	        </div>
			    <div class="col-sm-2">
				    <h2>Rank bonus</h2>
			    </div>
			    <div class="col-sm-2">
				    <h2>Under 10 clicks bonus</h2>
			    </div>

			  </div>

				{{#each results}}
	      
					<div class="user row row-color-{{@index}}">

				    <div class="col-sm-4">

		          {{#iflt @index 3}}
		          	{{@index}}.
		          {{/iflt}}

				    	{{username}}

				    </div>    
				    <div class="col-sm-2">    

					    {{scores.[0]}}
		                
										<div class="row">
											
											{{!-- {{#each articles}}
												{{this}} <br />
											{{/each}} --}}

				            </div>

		        </div>
				    <div class="col-sm-2">
					    
					    {{scores.[1]}}

				    </div>
				    <div class="col-sm-2">

					    {{scores.[2]}}

				    </div>

				  </div>

	      {{/each}}

			</div>

    {{!-- Show WINNERS CIRCLE at last round instead of leaderboard --}}
    {{#if last_round}}

      <div id="winners-circle" class="row hidden-el">

          <h1 class="screen-title">Final Scores!</h1>
          {{#each players}}
      
              {{#iflt @index 3}}

								<div class="user row row-color-{{@index}}">

							    <div class="col-sm-10">

							    	{{username}}

							    </div>    

							  </div>

              {{/iflt}}
      
          {{/each}}

      </div>

    {{else}}

			{{!-- LEADERBOARD --}}
			<div id="leaderboard" class="row hidden-el">

				<div class="header row bold">
	    
			    <div class="col-sm-8">
				    <h2>Player</h2>
			    </div>
			    <div class="col-sm-4">
				    <h2>Score</h2>
			    </div>

			  </div>

				{{#each players}}

					<div class="user row row-color-{{@index}}">
	      
				    <div class="col-sm-2">
				    </div>

				    <div class="col-sm-6">

				    	{{username}}

				    </div>    
				    
				    <div class="col-sm-4">

					    {{score_total}}

				    </div>

				  </div>

	      {{/each}}

			</div>

    {{/if}}

			<div id="countdown" class="row hidden-el">
		    <h2>
			    {{#if last_round}}
						Returning to Main Menu
					{{else}}
						Round {{incIndex round}} will begin
					{{/if}}
					 in <span id="text">10</span> seconds
				</h2>
			</div>

		</section>

	</div>
</div>