{{!-- HTYI Results view --}}
<div class="page-container">

    {{!-- Voting results --}}
    <div id="hashtags" class="results hidden-el">
        
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            {{> shared/tweet text=tweet}}
            
            <div id="hashtag-results">
                {{#each hashtags}}
                    {{!-- Show non-real hashtags only if they have votes --}}
                    {{#if votes}}
                        
                        <div class="result {{#if submitters.[0].real}}real{{else}}fake{{/if}} hidden-el">

                            {{!-- TODO: How to show all submitters? --}}
                            {{#if submitters.[0].real}}

                                <div id="prompt" class="hidden-el">
                                    <div>the real hashtag was:</div>
                                </div>

                            {{else}}

                                <div class="section creatorWrapper" style="display:none" data-cycle-fx="flipHorz" data-cycle-speed="800" data-cycle-delay="100" data-cycle-timeout="800" data-cycle-loop="1" data-cycle-slides=".creator"> 
                                    {{#each submitters}}
                                    {{!-- {{jsonPrint this}} --}}
                                        {{> group/player_badge user=this avatar_ind=this.index creator=true }}
                                    
                                    
                                    
                                    {{/each}}
                                </div>
                            
                            {{/if}}                 
                        
                            <div class="hashtag"><span class="octothorp">#</span>{{@key}}</div>

                            {{#each votes}}
                                {{> group/player_badge user=user avatar_ind=index points=score }}
                            {{/each}}

                        </div>

                    {{else}}

                        {{#if submitters.[0].real}}
                            
                            <div class="result real hidden-el">
                                <div id="prompt" class="hidden-el">
                                    <div>the real hashtag was:</div>
                                </div>
                                    
                                    <div class="hashtag"><span class="octothorp">#</span>{{@key}}</div>

                                    <div class="voter screen-title">No votes!</div>

                            </div>
                            
                        {{/if}}

                    {{/if}}
     
                {{/each}}

            </div>
        </div>
        <div class="col-sm-4"></div>

    </div>

    <section id="scores" class="col-sm-12 results hidden-el">

        <h1 class="screen-title">Round Scores</h1>
        <div class="row">

            <div class="col-sm-3"></div>
            <div class="col-sm-3 left">

                {{#each players}}
                    <div class="player hidden-el">
                        {{> group/player_face user=this avatar_ind=this.index creator=true }}

                        <div class="score">
                            {{#if score}}
                                +{{score}}
                            {{else}}
                                +0
                            {{/if}}
                        </div>
                    </div>

                   {{#ifeq @index 3}}</div><div class="col-sm-3 right">{{/ifeq}}
                {{/each}}
            </div>
            <div class="col-sm-3"></div>

        </div>
    </section>

    <section id="leaderboard" style="display:none" class="col-sm-12 results hidden-el">

            <h1 class="screen-title">Score Totals</h1>
            <div class="row">

                <div class="col-sm-3"></div>
                <div class="col-sm-3 left">
                    {{#each players}}
                    {{!-- {{{jsonPrint this}}} --}}
                        <div class="player hidden-el">
                            {{> group/player_face user=this avatar_ind=this.index creator=true }}

                            <div class="score">
                                {{#if score_total}}
                                    {{score_total}}
                                {{else}}
                                    0
                                {{/if}}
                            </div>
                        </div>

                       {{#ifeq @index 3}}</div><div class="col-sm-3 right">{{/ifeq}}
                    {{/each}}
                </div>
                <div class="col-sm-3"></div>

            </div>
    </section>

    {{!-- Show FINAL scores only at last round --}}
    {{#if last_round}}

        <div id="winners-circle" class="results hidden-el">

            <h1 class="screen-title">Final Scores!</h1>
            {{!-- {{{jsonPrint sortBy players score_total true}}} --}}
            {{#each players}}
            {{!-- {{{jsonPrint this}}} --}}
        
                {{#iflt @index 3}}
                    <div class="row">
                    
                        {{!-- <div class="col-sm-{{sum (sum @index 2) @index}}"></div> --}}

                        <div class="winner-{{@index}}">
                            <div class="score-box hidden-el">
                                <name>
                                    {{username}}
                                </name>
                                <score>
                                    {{#if score_total}}
                                        {{score_total}}
                                    {{else}}
                                        0
                                    {{/if}}
                                </score>
                                {{> group/player_badge user=this avatar_ind=user.index creator=true hide_name=true }}

                                
                            </div>
                        </div>
                    
                    </div>
                {{/iflt}}
        
            {{/each}}

        </div>

    {{/if}}
 
    {{!-- Show FINAL game screen at last round after showing scores/leaderboard --}}
    {{#if last_round}}
        <div id="game-ended" class="row hidden-el results last">
            <div class="col-sm-3"></div>
            <section class="col-sm-6 ended-container">
                                    
                    <div style="margin-top:10%" class="row">
                        <h1 style="font-size: 3em;color: #ffa76d" class="game-header">Game Ended<br>Thank you for playing Hashtag You're It!
                            </h1>

                        {{#if survey}}
                            <h1 style="font-size: 2.4em;color: #85e4cc" class="game-header">Please fill out the survey on your device.
                            </h1>
                        {{/if}}

                        </div>
                    </div>
                    
            </section>
            <div class="col-sm-3"></div>
        </div>
    {{else}}
        <div id="next-round" class="row hidden-el results last form">
            
            <div class="col-sm-6 col-centered">
                <input id="btn-start-game" data-event="game:next_round" class="post-button submit" type="submit" name="submit" value="go to next round">
            </div>

        </div>
    {{/if}}

    
	{{!-- <div class="row input-box">
		<input id="btn_submit" data-event="game:next_round" class="button_text" type="submit" name="submit" value="next round">
	</div> --}}

</div>