<!DOCTYPE html>
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
    <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <title>Emerging Citizens</title>
        <meta name="description" content="A suite of digital multiplayer games that teaches students how to critique and create civic media.">
        <meta name="author" content="Engagement Lab">
        <!-- Mobile Meta -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="theme-color" content="#78cbd1">

        {{!-- Open Graph --}}
        {{!-- <meta property="og:image" content="http://res.cloudinary.com/engagement-lab-home/image/upload/v1455896685/site/about/logo_color.png" /> --}}

        {{!-- Load our CSS/docs --}}
        {{> css environment=env}}
        
        {{!-- This file provides the default styling for the KeystoneJS Content Editor
        - only renders when user is logged in and admin--}}
        {{!-- {{{isAdminEditorCSS user}}} --}}
    </head>
    
    <body class="body">

        {{!-- {{> nav}} --}}

        <!-- page wrapper start -->
        <!-- ================ -->
        <div class="page-wrapper">
            
            <!--
                Flash messages allow you to display once-off status messages to users, e.g. form
                validation errors, success messages, etc
            -->
            {{#if messages}}
            <div id="flash-messages" class="container">
                {{#if messages.info}}
                <div class="alert alert-info">
                    {{{flashMessages messages.info}}}
                </div>
                {{/if}}
                {{#if messages.success}}
                <div class="alert alert-success">
                    {{{flashMessages messages.success}}}
                </div>
                {{/if}}
                {{#if messages.warning}}
                <div class="alert alert-warning">
                    {{{flashMessages messages.warning}}}
                </div>
                {{/if}}
                {{#if messages.error}}
                <div class="alert alert-danger">
                    {{{flashMessages messages.error}}}
                </div>
                {{/if}}
            </div>
            {{/if}}
                        
            {{!-- {{> footer}} --}}

            <!-- page-wrapper end -->
            {{#ifeq env "development"}}
                {{> script/development section=section subSection=sub_section}}
            {{else}}
                {{> script/production section=section}}
            {{/ifeq}}

            {{{isAdminEditorJS user}}}
        </div>

        <div id="error-box">
        </div>

        <div id="debug-info">
        </div>

        {{> nav}}
        <div class="container">
              <div id="gameContent">

                <!-- BODY CONTENT START -->
                {{{body}}}

              </div>
            <div id="countdownTimer"></div>
        </div><!-- /.container -->

        <div style="right:0;position: absolute;">
            {{#ifeq section 'moderator/monitor'}}
                
                <button id="template_reload">reload</button>
                <select id="template_selector" name="template_selector_player">
                  <option value="">choose:</option>
                  <option value="partials/moderator/tweet" data-key="tweet" data-event_id="game:start">tweet</option>
                  <option value="partials/moderator/voting" data-key="voting" data-event_id="hashtags:received">voting</option>
                  <option value="partials/moderator/results" data-key="results" data-event_id="hashtags:reveal">results</option>
                  <option value="partials/moderator/submissions" data-key="submissions" data-event_id="hashtag:submitted">submissions</option>
                </select>

            {{else}}

                <select id="template_selector" name="template_selector_player">
                  <option value="">choose:</option>
                  <option value="partials/player/tweet">tweet</option>
                  <option value="partials/player/results" data-key="results">results</option>
                  <option value="wait">wait</option>
                </select>

            {{/ifeq}}
        </div>

    </body>
</html>
