<!DOCTYPE html>
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
    <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <title>Emerging Citizens</title>
        <meta name="description" content="A suite of digital multiplayer games that teaches students how to critique and create civic media.">
        <meta name="author" content="Engagement Lab">

        {{!-- Load our CSS/docs --}}
        {{> css environment=env section=section gameType=gameType}}
    </head>
    
    <body class="body {{gameType}}">
          {{!-- {{#ifeq section "group/monitor"}}
                {{> group/header}}
            {{/ifeq}} --}}

        {{#ifeq section "comingsoon"}}
            {{> nav_comingsoon}}
            <div class="col-sm-12">
        {{else}}
            {{#ifeq section "index"}}
                {{> nav}}
                <div class="container">
            {{/ifeq}}
            {{#ifeq section "group/monitor"}}

                {{> game_nav}}
                   <div class="container">
            {{/ifeq}}

            {{#ifeq section "group-HTYI"}}
              <div class="row" id="logo_ec">
                <div class="col-md-5 col-xs-4"><a id="nav-dropdown">menu</a></div>
                  <img class="row" src="https://res.cloudinary.com/engagement-lab-home/image/upload/f_auto,q_auto/v1466622714/emerging-citizens/images/home/logo_youreit.png">
                  <div class ="col-md-5"></div>
              </div>

              {{> nav}}
              <div class="container">
            {{/ifeq}}
            {{#ifeq section "group-WIKIGEEKS"}}
              <div class="row" id="logo_ec">
                <div class="col-md-5 col-xs-4"><a id="nav-dropdown">menu</a></div>
                  <img src="https://res.cloudinary.com/engagement-lab-home/image/upload/f_auto,q_auto/v1466622714/emerging-citizens/images/home/logo_wiki.png">
                  <div class ="col-md-5"></div>
              </div>

              {{> nav}}
              <div class="container">
            {{/ifeq}}

            {{#ifeq section "group-WWDMM"}}
              <div class="row" id="logo_ec">
                <div class="col-md-5 col-xs-4"><a id="nav-dropdown">menu</a></div>
                  <img src="https://res.cloudinary.com/engagement-lab-home/image/upload/f_auto,q_auto/v1466622714/emerging-citizens/images/home/logo_wwdmm.png">
                  <div class ="col-md-5"></div>
              </div>

              {{> nav}}
              <div class="container">
            {{/ifeq}}
            
        {{/ifeq}}

        {{!-- {{jsonPrint section}} --}}

        <div id="wrapper">

          <section id="loading-modal" class="modal">
            <div class="indicator"></div>
          </section>

          <section id="overlay" class="modal">
          </section>

          <section id="error-disconnected" class="modal error-modal">
              <div id="text" class="col-sm-8 col-centered">
                <h1>Uh oh!<br /> :(</h1>
                <h2>There's some troubles connecting to the game's server or this game was ended. Please try refreshing!</h2>
              </div>
          </section>

          {{#ifnoteq section 'group/monitor'}}

            <section id="loading-modal" class="modal">
              <div class="indicator"></div>
            </section>

            {{!-- WIKIGEEKS 'time up' PLAYER MODAL --}}
            <section id="time-up" class="modal error-modal">
              <div class="indicator">
                <h3>Time is up! First player to reach the destination article wins!</h3>
                <button id="btn_ok" class="post-button submit hidden-el" type="button">okay, back to the game!</button>
              </div>
            </section>

          {{else}}

            <section id="error-modal" class="modal error-modal">
                <div id="text" class="col-sm-12 col-centered">
                  <h1>Hmmm...</h1>
                  <h2 id="size">Looks like you are trying to start a new game, but your screen isn’t big enough! Try visiting this website on a larger screen or expanding your browser window. If you are looking to join a game, please visit ecplay.org on your personal device.</h2>
                  <h2 id="mobile">Looks like you are trying to start a new game, but you are on a mobile device or tablet! Try visiting this website on a desktop browser.</h2>
                  <h2 id="ended">Looks like the game ended because all of the players left. :(</h2>
                </div>
            </section>
          {{/ifnoteq}}

          {{#ifeq debug true}}
              <div id="error-box">
              </div>
              
              {{!-- DEBUGGING --}}
              <div id="debugging" class="form" style="position: fixed;top: 0;min-height: 30%;background-color: rgba(0, 255, 250, 1);">
                  
                  <div id="debug-info">
                  </div>

                  {{#ifeq section 'group/monitor'}}
                      
                      <button id="template_reload" class="submit">reload</button>
                      <select id="template_selector" name="template_selector_player">
                        <option value="">choose:</option>

                        {{#ifeq gameType "htyi"}}
                            <option value="partials/group/htyi/tweet" data-key="tweet" data-event_id="game:start">tweet</option>
                            <option value="partials/group/htyi/voting" data-key="" data-event_id="hashtags:received">voting</option>
                            <option value="partials/group/htyi/results" data-key="submissions" data-event_id="hashtags:results">results</option>
                        {{/ifeq}}

                        {{#ifeq gameType "wikigeeks"}}
                            <option value="partials/group/wiki/topic" data-key="tweet" data-event_id="game:start">topic</option>
                            <option value="partials/group/wiki/article" data-key="" data-event_id="hashtags:received">article</option>
                            <option value="partials/group/wiki/results" data-key="submissions" data-event_id="wiki:results">results</option>
                        {{/ifeq}}

                      </select>

                  {{else}}
                      
                      <button id="template_reload" class="submit">reload</button>
                      <select id="template_selector" name="template_selector_player">
                        <option value="">choose:</option>

                        {{!-- {{#ifeq gameType "wikigeeks"}} --}}
                            <option value="partials/player/wiki/results" data-key="submissions" data-event_id="wiki:results">wiki-results</option>
                        {{!-- {{/ifeq}} --}}

                      </select>
                      <br /><button id="generate_players">generate players</button>

                  {{/ifeq}}
                    <br /><button id="countdowns_pause" data-resume="false" class="submit">pause countdowns</button>
                    <br /><button id="goto_results" data-event="game:force_results" class="submit"{{!--  style="display:none" --}}>show results</button>

                    <div id="last-event">last event: none</div>

                  <div id="slider-gsap">
                  </div>
              </div>
          {{/ifeq}}

          <div class="container-fluid" id="gameContent">

            <!-- BODY CONTENT START -->
            {{{body}}}

            {{#ifeq debug true}}
              <div id="emulate-players" style="display:none">
                <iframe src="" data-emulated='true' width="400" height="400"></iframe>
                <iframe src="" data-emulated='true' width="400" height="400"></iframe>
                <iframe src="" data-emulated='true' width="400" height="400"></iframe>
                <iframe src="" data-emulated='true' width="400" height="400"></iframe>
                <iframe src="" data-emulated='true' width="400" height="400"></iframe>
                <iframe src="" data-emulated='true' width="400" height="400"></iframe>
                <iframe src="" data-emulated='true' width="400" height="400"></iframe>
                <iframe src="" data-emulated='true' width="400" height="400"></iframe>
              </div>
            {{/ifeq}}

          </div>
              
        </div>

        {{#ifeq env "development"}}
            {{> script/development host=socketHost environment=env section=section subSection=sub_section}}
        {{else}}
            {{> script/production host=socketHost environment=env section=section}}
        {{/ifeq}}

        </div>

    </body>
</html>
