{{!-- Players column --}}
<div class="col-lg-3 players {{#if left}}left{{else}}right{{/if}}">
    
    {{#each players}}
    
        {{#if ../active}}

            <div class="player-background">
                <div class="player-static">
                    <div class="icon active">
                        <img src="/images/layout/hyi/icons/avatar{{#if ../../left}}{{@index}}{{else}}{{add @index ../../offset}}{{/if}}.png" />
                    </div>
                    <div class="nameplate active">

                        {{user.username}}

                    </div>
                </div>
            </div>
        
        {{else}}

            <div class="player-background">
                <div class="player-static">
                    <div class="icon"><img src="/images/layout/hyi/icons/avatar{{#if ../../left}}{{@index}}{{else}}{{add @index ../../../offset}}{{/if}}.png" /></div>
                    <div class="nameplate"> 

                    </div>
                </div>
            </div>

        {{/if}}

    {{/each}}

</div>