{{!-- HTYI Results view --}}
<div class="page-container">

    {{!-- Voting results --}}
    <div id="hashtags" class="results hidden-el">
        
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            {{> shared/tweet text=tweet}}
            
            <div id="hashtag-results">

                {{#each hashtags}}

                    {{!-- Show non-real hashtags only if they have votes --}}
                    {{#if this.votes}}

                        <div class="result {{#if real}}real{{else}}fake{{/if}} hidden-el">
                      
                            {{#unless real}}
                                {{> group/player_badge user=user avatar_ind=index creator=true }}
                            {{else}}
                                <div id="prompt" class="hidden-el">
                                    <div>the real hashtag was:</div>
                                </div>
                            {{/unless}}
                            
                            <div class="hashtag"><span class="octothorp">#</span>{{hashtag}}</div>

                            {{#each this.votes}}

                                {{> group/player_badge user=user avatar_ind=index points=score }}
                            
                            {{/each}}

                        </div>

                    {{else}}

                        {{#if real}}

                            <div class="result real hidden-el">
                            
                                <div class="hashtag"><span class="octothorp">#</span>{{hashtag}}</div>

                                {{#if this.votes}}
                                    {{#each this.votes}}

                                        {{> group/player_badge user=user avatar_ind=index points=score }}
                                    
                                    {{/each}}
                                {{else}}
                                    No votes!
                                {{/if}}

                            </div>
                            
                        {{/if}}

                    {{/if}}
     
                {{/each}}

            </div>
        </div>
        <div class="col-sm-4"></div>

    </div>

    <section id="scores" class="col-sm-12 results hidden-el">

        <h1>Round Scores</h1>

        <div class="row">

            <div class="col-sm-3"></div>
            <div class="col-sm-3 left">
                {{#each players}}
                    <div class="player hidden-el">
                        {{> group/player_face user=this avatar_ind=this.index creator=true }}

                        <div class="score">
                            {{#if score}}
                                +{{score}}
                            {{else}}
                                +0
                            {{/if}}
                        </div>
                    </div>

                   {{#ifeq @index 3}}</div><div class="col-sm-3 right">{{/ifeq}}
                {{/each}}
            </div>
            <div class="col-sm-3"></div>

        </div>
    </section>

    {{!-- Show FINAL scores only at last round --}}
    {{#if last_round}}

        <div id="winners-circle" class="results hidden-el">

            <h1>Final Scores!</h1>

            {{#each players}}
        
                {{#iflt @index 3}}
                    <div class="row">
                    
                        <div class="col-sm-{{add (add @index 2) @index}}"></div>

                        <div class="col-sm-4">
                            <div class="score-box hidden-el">
                                <name>
                                    {{username}}
                                </name>
                                {{> group/player_badge user=this avatar_ind=user.index creator=true hide_name=true }}

                                <score>
                                    {{#if score_total}}
                                        {{score_total}}
                                    {{else}}
                                        0
                                    {{/if}}
                                </score>
                            </div>
                        </div>
                    
                    </div>
                {{/iflt}}
        
            {{/each}}

        </div>

    {{/if}}


    <section id="leaderboard" class="col-sm-12 results hidden-el">

        <h1>Score Totals</h1>
        <div class="row">

            <div class="col-sm-3"></div>
            <div class="col-sm-3 left">
                {{#each players}}
                    <div class="player hidden-el">
                        {{> group/player_face user=this avatar_ind=this.index creator=true }}

                        <div class="score">
                            {{#if score_total}}
                                {{score_total}}
                            {{else}}
                                0
                            {{/if}}
                        </div>
                    </div>

                   {{#ifeq @index 3}}</div><div class="col-sm-3 right">{{/ifeq}}
                {{/each}}
            </div>
            <div class="col-sm-3"></div>

        </div>
    
    </section>
    {{!-- Show FINAL game screen at last round after showing scores/leaderboard --}}
    {{#if last_round}}
        <div id="game-ended" class="col-sm-12 hidden-el results last">
            
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <h1 id="text">Game ended! Going back home in...</h1>
                <div id="countdown"></div>
            </div>
            <div class="col-sm-4"></div>

        </div>
    {{else}}
        <div id="next-round" class="col-sm-12 hidden-el results last">
            
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <h1 id="text">Next round in</h1>
                <div id="countdown"></div>
            </div>
            <div class="col-sm-4"></div>

        </div>
    {{/if}}

    
	{{!-- <div class="row input-box">
		<input id="btn_submit" data-event="game:next_round" class="button_text" type="submit" name="submit" value="next round">
	</div> --}}

</div>