{{!-- HTYI Results view --}}
<div class="page-container">

    {{!-- Voting results --}}
    <div id="hashtags" class="results hidden-el">
        
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            {{> shared/tweet text=tweet}}
            
            <div id="hashtag-results">
            {{!-- {{jsonPrint hashtags}} --}}
                {{#each hashtags}}
                    
                    {{!-- Show non-real hashtags only if they have votes --}}
                    {{#if votes}}
                        
                        <div class="result {{#if submitters.[0].real}}real{{else}}fake{{/if}} hidden-el">
                            {{!-- <p>{{jsonPrint this}}</p> --}}
                                
                                {{!-- {{#each submitters}} --}}

                                    {{!-- TODO: How to show all submitters? --}}
                                    {{#if submitters.[0].real}}

                                        <div id="prompt" class="hidden-el">
                                            <div>the real hashtag was:</div>
                                        </div>

                                    {{else}}
                                    <div class="section"> 
                                        {{#each submitters}}
                                            {{> group/player_badge user=this.user avatar_ind=this.user.index creator=true }}

                                        {{/each}}
                                    </div>
                                    {{/if}}

                                {{!-- {{/each}} --}}

                            
                            
                            <div class="hashtag"><span class="octothorp">#</span>{{@key}}</div>

                            {{#each votes}}

                                {{> group/player_badge user=user avatar_ind=index points=score }}
                            
                            {{/each}}

                        </div>

                    {{else}}
                    {{!-- {{jsonPrint this}} --}}
                        {{!-- {{#each submitters}} --}}

                            {{#if submitters.[0].real}}
                                

                            <div class="result real hidden-el">
                                <div id="prompt" class="hidden-el">
                                    <div>the real hashtag was:</div>
                                </div>
                                    
                                {{!-- {{jsonPrint this}} --}}
                                    <div class="hashtag"><span class="octothorp">#</span>{{@key}}</div>

                                    {{!-- {{#if votes}}

                                        {{#each votes}}

                                            {{> group/player_badge user=user avatar_ind=index points=user.score }}
                                        
                                        {{/each}}

                                    {{else}} --}}
                                    <div class="screen-title">No votes!</div>
                                    {{!-- {{/if}} --}}

                                </div>
                                
                            {{/if}}

                        {{!-- {{/each}} --}}

                    {{/if}}

     
                {{/each}}

            </div>
        </div>
        <div class="col-sm-4"></div>

    </div>

    <section id="scores" class="col-sm-12 results hidden-el">

        <h1 class="screen-title">Round Scores</h1>

        <div class="row">

            <div class="col-sm-3"></div>
            <div class="col-sm-3 left">
                {{#each players}}
                {{!-- {{{jsonPrint this}}} --}}
                    <div class="player hidden-el">
                        {{> group/player_face user=this avatar_ind=this.index creator=true }}

                        <div class="score">
                            {{#if score}}
                                +{{score}}
                            {{else}}
                                +0
                            {{/if}}
                        </div>
                    </div>

                   {{#ifeq @index 3}}</div><div class="col-sm-3 right">{{/ifeq}}
                {{/each}}
            </div>
            <div class="col-sm-3"></div>

        </div>
    </section>

        <section id="leaderboard" class="col-sm-12 results hidden-el">

        <h1 class="screen-title">Score Totals</h1>
        <div class="row">

            <div class="col-sm-3"></div>
            <div class="col-sm-3 left">
                {{#each players}}
                {{!-- {{{jsonPrint this}}} --}}
                    <div class="player hidden-el">
                        {{> group/player_face user=this avatar_ind=this.index creator=true }}

                        <div class="score">
                            {{#if score_total}}
                                {{score_total}}
                            {{else}}
                                0
                            {{/if}}
                        </div>
                    </div>

                   {{#ifeq @index 3}}</div><div class="col-sm-3 right">{{/ifeq}}
                {{/each}}
            </div>
            <div class="col-sm-3"></div>

        </div>
    
    </section>

    {{!-- Show FINAL scores only at last round --}}
    {{#if last_round}}

        <div id="winners-circle" class="results hidden-el">

            <h1 class="screen-title">Final Scores!</h1>

            {{#each players}}
            {{!-- {{{jsonPrint this}}} --}}
        
                {{#iflt @index 3}}
                    <div class="row">
                    
                        <div class="col-sm-{{add (add @index 2) @index}}"></div>

                        <div class="col-sm-4">
                            <div class="score-box hidden-el">
                                <name>
                                    {{username}}
                                </name>
                                {{> group/player_badge user=this avatar_ind=user.index creator=true hide_name=true }}

                                <score>
                                    {{#if score_total}}
                                        {{score_total}}
                                    {{else}}
                                        0
                                    {{/if}}
                                </score>
                            </div>
                        </div>
                    
                    </div>
                {{/iflt}}
        
            {{/each}}

        </div>

    {{/if}}


    
    {{!-- Show FINAL game screen at last round after showing scores/leaderboard --}}
    {{#if last_round}}
        <div id="game-ended" class="col-sm-12 hidden-el results last">
            
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <h1 id="text">Game ended! Going back home in...</h1>
                <div id="countdown"></div>
            </div>
            <div class="col-sm-4"></div>

        </div>
    {{else}}
        <div id="next-round" class="col-sm-12 hidden-el results last">
            
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <h1 id="text">Next round in</h1>
                <div id="countdown"></div>
            </div>
            <div class="col-sm-4"></div>

        </div>
    {{/if}}

    
	{{!-- <div class="row input-box">
		<input id="btn_submit" data-event="game:next_round" class="button_text" type="submit" name="submit" value="next round">
	</div> --}}

</div>