<div class="game">
    {{!-- <p>Here is the real tweet:</p> --}}
    {{> shared/tweet text=tweet}}

    {{#each hashtags}}
        
        <div id="results-{{@index}}" class="hashtag-response" style="visibility:hidden">

            <div class="hashtag">

                <span {{#if real}} style="color:green" {{else}} style="color:red" {{/if}}>
                    {{this.hashtag}} (by <em>{{@key}}</em>)
                </span>

            </div>

            <div id="hashtag-votes">

                {{#if this.votes}}

                    {{#each this.votes}}
                        <div class="hashtag-vote">

                            {{username}}<br />+{{score}}

                        </div>
                    {{/each}}
                
                {{else}}
                    
                    <div class="no-votes">

                        No votes!

                    </div>
                
                {{/if}}

            </div>

       </div>

   {{/each}}

   {{#each players}}
      
        {{#if score_total}}
           <div>{{username}} - {{score_total}}</div>
        {{else}}
           <div>{{username}} - 0</div>
        {{/if}}

   {{/each}}

	<div class="row input-box">
		<input id="btn_submit" data-event="game:next_round" class="button_text" type="submit" name="submit" value="next round">
	</div>
</div>