{{> moderator/header_htyi }}

<div class="page-container">

    <div id="hashtags" class="results" style="visibility: hidden;">
        
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            {{> shared/tweet text=tweet}}
            
            <div id="hashtag-submissions-prompt" style="visibility: hidden;">
                <div>the real hashtag was:</div>
            </div>
            
            <div id="hashtag-results">

                {{#each hashtags}}

                    {{#if this.votes}}

                        <div class="result {{#if real}}real{{else}}fake{{/if}}" style="visibility: hidden;">
                      
                            {{#unless real}}
                                {{> moderator/player_badge user=user avatar_ind=index creator=true }}
                            {{/unless}}
                            
                            <div class="hashtag"><span class="octothorp">#</span>{{hashtag}}</div>

                                {{#each this.votes}}

                                    {{> moderator/player_badge user=user avatar_ind=index points=score }}
                                
                                {{/each}}

                            </div>

                        </div>
                            
                    {{/if}}

                {{/each}}

            </div>
        </div>
        <div class="col-sm-4"></div>

    </div>

    {{#ifeq round 2}}

        <div id="final-scores" class="results" style="visibility: hidden;">

            <h1>Final Scores!</h1>

            {{#each players}}
        
                {{#iflt @index 3}}
                    <div class="row">
                    
                        <div class="col-sm-{{add (add @index 2) @index}}"></div>

                        <div class="col-sm-4">
                            <div class="score-box" style="visibility: hidden;">
                                {{> moderator/player_badge user=user avatar_ind=index creator=true }}

                                <score>
                                    {{#if score_total}}
                                        {{score_total}}
                                    {{else}}
                                        0
                                    {{/if}}
                                </score>
                            </div>
                        </div>
                    
                    </div>
                {{/iflt}}
        
            {{/each}}

        </div>

    {{/ifeq}}

    <section id="scores" class="col-sm-12" style="visibility: hidden;">

        <h1>Round Scores</h1>

        <div class="col-sm-6 left">
            {{#each players}}
                <div class="player">{{user.username}}:   {{#if score}}
                                                        +{{score}}
                                                    {{else}}
                                                        +0
                                                    {{/if}}
                </div>

               {{#ifeq @index 3}}</div><div class="col-sm-6 right">{{/ifeq}}
            {{/each}}
        </div>

        <div id="next-round"></div>
    </section>


    <section id="leaderboard" class="col-sm-12" style="visibility: hidden;">

        <h1>Scores Totals</h1>

        <div class="col-sm-6 left">
            {{#each players}}
                <div class="player">{{username}}:   {{#if score_total}}
                                                        {{score_total}}
                                                    {{else}}
                                                        0
                                                    {{/if}}
                </div>

               {{#ifeq @index 3}}</div><div class="col-sm-6 right">{{/ifeq}}
            {{/each}}
        </div>

        <div id="next-round"></div>
    </section>

    
	{{!-- <div class="row input-box">
		<input id="btn_submit" data-event="game:next_round" class="button_text" type="submit" name="submit" value="next round">
	</div> --}}

</div>