<div class="game">
    <p>Here is the real tweet:</p>
    {{{tweet.html}}}

    <div class="playerResponses">
        <div class="row">


            <div class="hashtagResponse col-sm-10">
                <div class="my-slider">
                    <ul>

                        {{#each this.hashtags}}
                        <li>
                            <p {{#if real}} style="color:green" {{else}} style="color:red" {{/if}}>
                                {{this.hashtag}} (by <em>{{@key}}</em>)
                            </p>

                            {{#if this.votes}}
                                
                                <div class="hashtagVotes">Votes from: 
                                    {{#each this.votes}}
                                        <span class="vote">{{username}}<br /></span> 
                                    {{/each}}
                                </div>
                                
                            {{else}}
                                
                                <span class="vote">No votes!</span> 
                            
                            {{/if}}

                            {{#unless real}}

                                {{#if score}}

                                	**** {{score}} points for {{username}} ****

                                {{/if}}

                            {{/unless}}

                        </li>
                        {{/each}}

                        <li>
                            <b>Scores totals:</b>
                            <p style="color:cyan">
                                {{#each this.players}}
                                    <em>{{this.username}}</em>
                                    {{#if this.score_total}}
                                    
                                        - {{this.score_total}}
                                     
                                     {{else}}
                                     
                                        - 0
                                    
                                    {{/if}}
                                    <br />
                                {{/each}}
                            </p>

                        </li>

                    </ul>
                </div>
            </div>


        </div>
    </div>

	<div class="row input-box">
		<input id="btn_submit" data-event="game:next_round" class="button_text" type="submit" name="submit" value="next round">
	</div>
    {{!--
    <h3>Cast your vote for the real hashtag!!</h3> --}}
</div>