{{jsonPrint this}}



{{#ifeq gameType 'htyi'}}

    {{#ifeq survey true}}
    <div id="surveyOptions">
        <h2>Would you like to take our survey?</h2>
        <div class="button-group">
            <button id="btn_survey" class="post-button submit" type="button">Totally!</button>
            <button id="btn_replay" class="post-button submit" type="button" onclick="location.href='\\play';">No Thanks!</button>
        </div>
    </div>

    <div id="typeformSurvey" style="display:none;">
        <div class="typeform-widget" data-url="{{this.urlHashtag}}" data-text="Hashtage You're It Feedback" style="width:100%;height:500px;"></div>
        <script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typeform',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'widget.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}})()</script>
        <div style="font-family: Sans-Serif;font-size: 12px;color: #999;opacity: 0.5; padding-top: 5px;">Powered by <a href="https://www.typeform.com/examples/forms/?utm_campaign=ptDwLc&amp;utm_source=typeform.com-3552517-Basic&amp;utm_medium=typeform&amp;utm_content=typeform-embedded-poweredbytypeform&amp;utm_term=EN" style="color: #999" target="_blank">Typeform</a></div>
    </div>

    {{else}} 

    <button id="btn_replay" class="post-button submit" type="button" onclick="location.href='\\play';">LET ME PLAY AGAIN!</button>

    {{/ifeq}}

{{/ifeq}}

{{#ifeq gameType 'wikigeeks'}}

    {{#if survey}}

    <h2>Would you like to take our survey?</h2>
    <div class="button-group"><button id="btn_survey" class="post-button submit" type="button">Totally!</button>
    <button id="btn_noSurvey" class="post-button submit" type="button">No Thanks!</button></div>

    <div id="survey" style="display:none;">
        <div class="typeform-widget" data-url="{{this.urlWiki}}" data-text="WikiGeeks Feedback" style="width:100%;height:500px;"></div>
        <script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typeform',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'widget.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}})()</script>
        <div style="font-family: Sans-Serif;font-size: 12px;color: #999;opacity: 0.5; padding-top: 5px;">Powered by <a href="https://www.typeform.com/examples/forms/?utm_campaign=ptDwLc&amp;utm_source=typeform.com-3552517-Basic&amp;utm_medium=typeform&amp;utm_content=typeform-embedded-poweredbytypeform&amp;utm_term=EN" style="color: #999" target="_blank">Typeform</a></div>
    </div>

    {{else}} 

    <button id="btn_replay" class="post-button submit" type="button">LET ME PLAY AGAIN!</button>

    {{/if}}

{{/ifeq}}

{{#ifeq gameType 'meme'}}

    {{#if surveyMeme}}

    <h2>Would you like to take our survey?</h2>
    <div class="button-group"><button id="btn_survey" class="post-button submit" type="button">Totally!</button>
    <button id="btn_noSurvey" class="post-button submit" type="button">No Thanks!</button></div>

    <div id="survey" style="display:none;">
        <div class="typeform-widget" data-url="{{this.urlMeme}}" data-text="Wait, Wait, Don't Meme Me Feedback" style="width:100%;height:500px;"></div>
        <script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'widget.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}})()</script>
        <div style="font-family: Sans-Serif;font-size: 12px;color: #999;opacity: 0.5; padding-top: 5px;">Powered by <a href="https://www.typeform.com/examples/forms/?utm_campaign=ptDwLc&amp;utm_source=typeform.com-3552517-Basic&amp;utm_medium=typeform&amp;utm_content=typeform-embedded-poweredbytypeform&amp;utm_term=EN" style="color: #999" target="_blank">Typeform</a></div>
    </div>

    {{else}} 

    <button id="btn_replay" class="post-button submit" type="button">LET ME PLAY AGAIN!</button>

    {{/if}}

{{/ifeq}}

    <script type="text/javascript">
        $('#btn_survey').on('click', function(){
            $('#typeformSurvey').show(function(){console.log("survey appearing")});
            $('#surveyOptions').hide();
        });
    </script>