<div class="game-about" id="{{lowerCase whichGame}}-page">

  <div class="top-section">

    <div class="logo row">
      <img src="{{{cloudinaryUrl game.gameLogo width=405}}}">
    </div>
    <div class="blurb row">
      {{{game.text.html}}}
      <a id="launch" class="button" href="/new/{{gameLink}}"><span>Play Now!</span></a>
    </div>

  </div>


  <div class="game-page">

    <div class="content">
      <div class="how-to-play row">
        <h2>
          How To Play</h2>
        {{{game.howToPlay.html}}}

{{#if game.vimeoId}}
        <div class="video">
          <iframe src="https://player.vimeo.com/video/{{game.vimeoId}}?color=fff&byline=0&portrait=0" width="640"
            height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
        </div>
        {{/if}}
      </div>

      <div class="learning-guide row">
        <h2><img
            src="https://res.cloudinary.com/engagement-lab-home/image/upload/c_scale,f_auto,w_86/v1/emerging-citizens/images/layout/landing/{{lowerCase whichGame}}-learningguide-icon.png"
            width="86" alt="Learning Guide" /> <strong class="bold">Learning</strong> Guide</h2>

        <div class="col-sm-12">
          {{{game.what.html}}}

          {{{game.why.html}}}

          {{{game.lessonGuide.html}}}
          {{{game.tips.html}}}

          {{{game.questions.html}}}
        </div>

      </div>

      <div class="plans-info row">
        <h2>Lesson Plans</h2>
        <h4>{{{game.lessonPlanBlurb.html}}}</h4>
      </div>
    </div>

  </div>

</div>