{{!-- {{#ifeq gameType "wwdmm"}}
 <a onclick="window.location = '/new/wwdmm'">Launch Game
    <div id="meme-info" class="col-sm-3 home-page-info current">

      <img src="https://res.cloudinary.com/engagement-lab-home/image/upload/f_auto,q_auto/v1466622714/emerging-citizens/images/home/logo_wwdmm.png">
        {{!-- {{{content.wwdmm_blurb.html}}} 
    
    </div>
  </a>

{{/ifeq}} --}}

{{!-- {{#ifeq gameType "wikigeeks"}} --}}
	<div class="launch"><a class="button" href="/new/{{gameType}}">Launch Game</a></div>

	<div class="blurb">
{{{game.lessonGuide.html}}}

	</div>

  <div class="content">
{{#each categories}}

  Category
  {{this.topicName}}

{{/each}}

{{!-- {{jsonPrint this}} --}}
{{#each lessonPlans}}

{{jsonPrint this}}

  <div class="col-lg-4 col-md-4 col-sm-12 plans-item item {{relatedGame.gameType}} {{category.cat_key}}">
      <div class="plan-card" data-category="">
        <h3>{{name}}</h3>
        <h4>Content: </h4> {{#each category}}<p>{{topicName}}</p> {{/each}}
        <h4>Associated Games: </h4> {{#each relatedGame}}<p>{{gameType}}</p>{{/each}}

        <button class="button open-plan" id="" data-id="{{plan_key}}" value="#">More</button>
      </div>
    </div>

{{/each}}

  </div>
     
{{!-- {{/ifeq}} --}}
{{!-- 
{{#ifeq gameType "htyi"}}
<a onclick="window.location='/new/htyi';">Launch Game
  <div id="hashtag-info" class="col-sm-3 home-page-info current">

    <img src="https://res.cloudinary.com/engagement-lab-home/image/upload/f_auto,q_auto/v1466622714/emerging-citizens/images/home/logo_youreit.png">
      {{!-- {{{content.htyi_blurb.html}}} 

  </div>
</a>
{{/ifeq}} --}}


{{!-- {{jsonPrint this}} --}}

